@import './normalize';

$main-bg: #f4f4f4;
body {
  background: $main-bg;
  font-family: "hiragino sans gb",arial;
}

.max-width {
  max-width: 750px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}
